<h1>New Category</h1>

<%= render 'form', category: @category %>

<a title="Back" href="/" style="filter: invert(1);" alt="Big Left Arrow Icon" width="24"><img src="https://www.freeiconspng.com/uploads/file-left-arrow-18.png"</a>
